@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --background-color: #0014cb;
  --input-background-color: #ecf0fc;
  --btn-primary: #0038ff;
  --btn-primary-hover: #0014cb;
  --btn-primary-disabled: #7b98ff;
  --border-color: #cbcbcb;
  --danger: #f20000;
  --white: #ffffff;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 1em;
}

label {
  display: inline-block;
  margin-bottom: 0.25em;
  font-size: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(5% + 5px);
  min-height: 100vh;
  overflow-y: hidden;
}

.form__wrapper {
  width: 100%;
  background-color: var(--white);
  box-shadow: 1em 1em 0 0 var(--black);
  border: 2px solid var(--border-color);
  border-radius: 2em;
}

.form__title {
  text-align: center;
  padding: 0.75em 0;
  border-bottom: 2px solid #e2e2e2;
}

.form__field {
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  box-sizing: border-box;
  background-color: var(--input-background-color);
  border: none;
  border-radius: 2em;
}

.form__input:focus {
  outline: none;
}

.form__error {
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--danger);
}

.form__error::first-letter {
  text-transform: capitalize;
}

.checkbox__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.password__checkbox {
  margin: 0 0.5em;
}

.btn__primary {
  width: 100%;
  font-size: 1em;
  cursor: pointer;
  padding: 0.75em 1em;
  color: var(--white);
  background-color: var(--btn-primary);
  border: none;
  border-radius: 2em;
}

.btn__primary:hover {
  background-color: var(--btn-primary-hover);
}

.btn__primary:disabled {
  cursor: not-allowed;
  background-color: var(--btn-primary-disabled);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 calc(20% + 10px);
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 calc(30% + 15px);
  }
}
